# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*vendor/

# files created by the local docker cockroach dbs
*cockroach-data/

#Goland
.idea/
